<article class="container">
  <h1>Add a new course</h1>
  <%= simple_form_for @course, :url => instructor_courses_path do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :cost %>
    <%= f.input :image %>
    <%= f.submit "Create", :class => 'btn btn-primary' %>
  <% end %>
</article>